# Dependencies
**/node_modules
**/.pnp
**/.pnp.js

# Testing
**/coverage
**/.nyc_output

# Next.js
# Allowing .next for teacher review
# **/.next/
**/out/

# Production
# Allowing build for teacher review
# **/build
# **/dist

# Misc
**/.DS_Store
**/*.pem
**/Thumbs.db

# Debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# Local env files
**/.env*.local
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Vercel
**/.vercel

# TypeScript
**/*.tsbuildinfo
**/next-env.d.ts

# IDE
**/.idea
**/.vscode
**/*.swp
**/*.swo

# User data
**/users.json

# Logs
**/logs
**/*.log

# Optional npm cache directory
**/.npm

# Optional eslint cache
**/.eslintcache

# Optional stylelint cache
**/.stylelintcache

# Optional REPL history
**/.node_repl_history

# Output of 'npm pack'
**/*.tgz

# Yarn Integrity file
**/.yarn-integrity

# Parcel bundler cache
**/.cache
**/.parcel-cache

# Yarn v2
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.yarn/install-state.gz
**/.pnp.*

# Project specific
# Allowing .next for teacher review
# /authpls/.next
/authpls/out
/authpls/node_modules
# /authpls/build
/authpls/.env.local 